<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Product Manager Nashville" content="">
    <meta name="Justin Tannenbaum" content="">
    <link rel="shortcut icon" href="#">

    <title>Justin Tannenbaum</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jasny-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
      <a class="navmenu-brand visible-md visible-lg" href="#">Justin<strong>Tannenbaum</strong>
      	<img src="/images/me.jpg" alt="" class="img-circle">
  				<div class="list-group">
  					<a class="list-group-item" href="#"><i class="fa fa-user fa-fw fa-2x"></i>&nbsp; About</a>
  					<a class="list-group-item" href="#"><i class="fa fa-clock-o fa-fw fa-2x"></i>&nbsp; Experience</a>
  					<a class="list-group-item" href="#"><i class="fa fa-graduation-cap fa-fw fa-2x"></i>&nbsp; Education</a>
  					<a class="list-group-item" href="#"><i class="fa fa-tasks fa-fw fa-2x"></i>&nbsp; Skills</a>
  					<a class="list-group-item" href="#"><i class="fa fa-tag fa-fw fa-2x"></i>&nbsp; Interests</a>
</div>
				</ul>  
    </div>

    <div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Justin<strong>Tannenbaum</strong></a>
    </div>

<div class="container">
<!-- ABOUT ME --> 
    <div class="about">
      <div class="page-header">
        <h1>About</h1>
      </div>
      <p class="lead">DATA DRIVEN PRODUCT MANAGER</p>
              <br></br>
        <i class="fa fa-envelope fa-2x"></i>
            <span id="email">JustinEdwardTannenbaum@gmail.com</span>
              <br></br>
        <i class="fa fa-home fa-2x"></i>
            <span id="city">Nashville,TN</span>
              <br></br>
        <i class="fa fa-twitter-square fa-2x"></i>
            <span id="twitter">@JETannenbaum</span>
              <br></br>
      <blockquote id="aboutblock">
        <p class="text-left">A strategic thinker and creative organizer recognized for providing solid counsel and consulting to clients in the areas of software development, strategy, product management, project management and a multitude of other skills and abilities. Information technology management experience ranges from new product development to championing amendments and enhancing project value, both on time and under budget.</p>
      </blockquote>
    </div><!-- /.container -->
<!-- END ABOUT ME --> 

<!-- EXPERIENCE --> 
    <div class="section-experience">
      <div class="page-header">
        <h1>Experience</h1>
      </div>
      <div class="company">
        <span class="lead">The Mothership</span>
          <p class="text-right">Oct 2014 - today</p>
          <p class="text-left"><i class="fa fa-suitcase"></i><strong> Head of Product</strong></p>
          <p class="text-left"><i class="fa fa-chevron-right"></i> www.themothership.co</p>
          <p class="text-left"><i class="fa fa-map-marker"></i>&nbsp;Nashville,TN</p>
        <blockquote id="experience">
          <p class="text-left">Recruited by the three co­founders of the company, I lead all product development efforts. I often find myself at the intersection of software development, design, business development, and business strategy. This role has allowed me to wear many hats in a fast paced start­up environment.</p>
        </blockquote>
        <p class="text-left"><i class="fa fa-plus"></i> Own all aspects of the software development life cycle</p>
        <p class="text-left"><i class="fa fa-plus"></i> Develop & maintain product roadmap, ensuring alignment with vision & market opportunity</p>
        <p class="text-left"><i class="fa fa-plus"></i> Dedicated a clarifying link between sales, development, & marketing</p>
        <p class="text-left"><i class="fa fa-plus"></i> Challenge build vs buy / partner / acquired solutions</p>
        <p class="text-left"><i class="fa fa-plus"></i> Manage all product features & ensure proper documentation</p>
        <p class="text-left"><i class="fa fa-plus"></i> Project manage all aspects of the development process to ensure key milestones are hit</p>
        <p class="text-left"><i class="fa fa-plus"></i> Manage client requirements & expectations of the product</p>
        <p class="text-left"><i class="fa fa-plus"></i> Work with sales & marketing resources to develop competitive business & financial models</p>
        <p class="text-left"><i class="fa fa-plus"></i> Lead the definition of protectable IP</p>
        <p class="text-left"><i class="fa fa-plus"></i> Stays current with market opportunities & the competitive landscape</p>
      </div>
      <br></br>
      <div class="company">
        <span class="lead">Healthstream</span>
          <p class="text-right">May 2013 - Oct 2014</p>
          <p class="text-left"><i class="fa fa-suitcase"></i><strong> Project Manager</strong></p>
          <p class="text-left"><i class="fa fa-chevron-right"></i> www.healthstream.com</p>
          <p class="text-left"><i class="fa fa-map-marker"></i>&nbsp;Nashville,TN</p>
        <blockquote id="experience">
          <p class="text-left">Brought in by the director of the PMO to manage two Agile Scrum software development teams. Performed a hybrid of Project manager & Scrum Master duties. Developed strong program management skills, implemented project management processes, and followed Agile Scrum methodologies. With a strong focus on user interface design, user experience design, & big data visualization.</p>
        </blockquote>
        <p class="text-left"><i class="fa fa-plus"></i> Scrum Master for the UI­UX Team</p>
        <p class="text-left"><i class="fa fa-plus"></i> Program manager for the UI ­UX refresh effort across 13 development teams</p>
        <p class="text-left"><i class="fa fa-plus"></i> Project Manager & Scrum Master for a skunk works Data Visualization project</p>
        <p class="text-left"><i class="fa fa-plus"></i> Project Manager for a 3rd ​party custom APIdevelopment effort</p>
        <p class="text-left"><i class="fa fa-plus"></i> Project Manager for an internal implementation project</p>
        <p class="text-left"><i class="fa fa-plus"></i> Set up & maintain Agile Scrum framework & processes</p>
        <p class="text-left"><i class="fa fa-plus"></i> Manage all Agile reporting (burn up, burn down, velocity, impediments, retrospectives)</p>
        <p class="text-left"><i class="fa fa-plus"></i> Strong product backlog management models</p>
      </div>
      <br></br>
       <div class="company">
        <span class="lead">State of Tennessee OIS DCS</span>
          <p class="text-right">Nov 2012 - May 2013</p>
          <p class="text-left"><i class="fa fa-suitcase"></i><strong> Product Manager</strong></p>
          <p class="text-left"><i class="fa fa-chevron-right"></i> www.state.tn.us/youth/</p>
          <p class="text-left"><i class="fa fa-map-marker"></i>&nbsp;Nashville,TN</p>
        <blockquote id="experience">
          <p class="text-left">Recruited by new leadership to help with change management for the Department of Child and Family Services. Successfully helped transitioned the organization from waterfall to agile methodology. Performed a hybrid of BA / PO / PM duties. Developed strong process improvement skills, including taking end user needs and turning them into functional user stories & applications.</p>
        </blockquote>
        <p class="text-left"><i class="fa fa-plus"></i> Scrum Master / Scrum Product Owner for the “Ready” Team</p>
        <p class="text-left"><i class="fa fa-plus"></i> Product Backlog management</p>
        <p class="text-left"><i class="fa fa-plus"></i> Project Manager – Web Portals</p>
        <p class="text-left"><i class="fa fa-plus"></i> User Stories / Defect Design Reporting</p>
        <p class="text-left"><i class="fa fa-plus"></i> User Acceptance Testing</p>
        <p class="text-left"><i class="fa fa-plus"></i> Process Flow Mapping</p>
      </div>
      <br></br>
      <div class="company">
        <span class="lead">Agra Avant Garde</span>
          <p class="text-right">Jan 2011 - Nov 2012</p>
          <p class="text-left"><i class="fa fa-suitcase"></i><strong> Product Manager</strong></p>
          <p class="text-left"><i class="fa fa-chevron-right"></i> www.agraavantgarde.com</p>
          <p class="text-left"><i class="fa fa-map-marker"></i>&nbsp;Fort Myers, FL</p>
        <blockquote id="experience">
          <p class="text-left">Managed the development of software designed to provide liquidity and accessibility to the under banked and underserved. Successfully worked with the CEO in implementing his vision into tangible software through research, data analysis and creating key performance indicators.</p>
        </blockquote>
        <p class="text-left"><i class="fa fa-plus"></i> Oversaw the development of the application</p>
        <p class="text-left"><i class="fa fa-plus"></i> Developed strategy and directed the engineering, & design</p>
        <p class="text-left"><i class="fa fa-plus"></i> Instrumental in the pursuit and coordination of the application build out</p>
        <p class="text-left"><i class="fa fa-plus"></i> Cultivated relationships and lead the agile team</p>
        <p class="text-left"><i class="fa fa-plus"></i> Developed the user acquisition strategy & managed analytics</p>
        <p class="text-left"><i class="fa fa-plus"></i> Handled all contracts and negotiations with independent contractors</p>
      </div>
      <br></br>
       <div class="company">
        <span class="lead">Primary Care Associates</span>
          <p class="text-right">May 2010 - Jan 2011</p>
          <p class="text-left"><i class="fa fa-suitcase"></i><strong> Business Systems Analyst</strong></p>
          <p class="text-left"><i class="fa fa-chevron-right"></i> www.primarycareassociates.com</p>
          <p class="text-left"><i class="fa fa-map-marker"></i>&nbsp;Fort Myers, FL</p>
        <blockquote id="experience">
          <p class="text-left">Solved organizational information problems and requirements by analyzing requirements; designing computer programs; recommending system controls and protocols.</p>
        </blockquote>
        <p class="text-left"><i class="fa fa-plus"></i> Developed business­ oriented, architectural, technical, and release based documentation</p>
        <p class="text-left"><i class="fa fa-plus"></i> Developed strategy and directed the engineering, & design</p>
        <p class="text-left"><i class="fa fa-plus"></i> Coordinated and drove collaboration efforts across multiple teams to maintain scope</p>
        <p class="text-left"><i class="fa fa-plus"></i> Drove effort and maintained documentation for major infrastructure uplift</p>
      </div>
      <br></br>
      <div class="company">
        <span class="lead">Electronic Arts</span>
          <p class="text-right">Aug 2008 - May 2010</p>
          <p class="text-left"><i class="fa fa-suitcase"></i><strong> Marketing Associate</strong></p>
          <p class="text-left"><i class="fa fa-chevron-right"></i> www.ea.com</p>
          <p class="text-left"><i class="fa fa-map-marker"></i>&nbsp;Redwood City, CA</p>
        <blockquote id="experience">
          <p class="text-left">As a collegiate marketing representative the mission was to “play with” not “sell to.” I executed the corporate marketing campaigns on a local collegiate level at the University of Tennessee. Managed a team of 3­ to 7 and became an expert in guerilla marketing.</p>
        </blockquote>
        <p class="text-left"><i class="fa fa-plus"></i> Maintained all social media accounts</p>
        <p class="text-left"><i class="fa fa-plus"></i> Set up monthly gaming tournaments at the University Center</p>
        <p class="text-left"><i class="fa fa-plus"></i> Built relationships with local owners and University executives</p>
        <p class="text-left"><i class="fa fa-plus"></i> Expert in guerilla marketing</p>
        <p class="text-left"><i class="fa fa-plus"></i> Booms day campaign</p>
        <p class="text-left"><i class="fa fa-plus"></i> Highest accomplishment was hitting a net reach of 100,000+ people at Neyland Stadium</p>
      </div>
    </div><!-- /.container -->
<!-- END EXPERIENCE --> 

<!-- EDUCATION --> 
    <div class="section-education">
      <div class="page-header">
        <h1>Education</h1>
      </div>
      <div class="logo">
          <img width="60px" src="/images/powert.jpg" class="responsive-img">
          <br></br>
          <p class="lead">University of Tennessee</p>
      </div>
      <br></br>
      <p class="text-left"><i id="vols" class="fa fa-chevron-right"></i> www.utk.edu</p>
      <p class="text-left"><i id="vols" class="fa fa-map-marker"></i>&nbsp;Knoxville,TN</p>
      <p class="text-left"><i class="fa fa-graduation-cap"></i> Bachelors of Science Business Management & Entrepreneurship</p>

    </div><!-- /.container -->
<!-- END EDUCATION --> 

<!-- SKILLS --> 
  <div class="section-skills">
      <div class="page-header">
        <h1>Skills</h1>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">  
        <span class="">90% Product Development</span>        
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
        <span class="">90% Project Management</span>  
        </div>
      </div>
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
      <span class="">90% Agile Coaching</span>  
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
      <span class="">85% HTML/CSS</span>  
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
      <span class="">80% Ruby on Rails</span>  
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
      <span class="">75% Data Analytics</span>  
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
      <span class="">70% Javascript</span>  
      </div>
    </div>
  </div><!-- /.container -->
<!-- END SKILLS --> 

<!-- Interestes --> 
    <div class="section-interests">
      <div class="page-header">
        <h1>Interests</h1>
      </div>
      <p class="interests"><i class="fa fa-heart-o"></i> Technology</p>
      <p class="interests"><i class="fa fa-heart-o"></i> Start-Ups</p>  
      <p class="interests"><i class="fa fa-heart-o"></i> Golf</p>
      <p class="interests"><i class="fa fa-heart-o"></i> Fitness</p>
      <p class="interests"><i class="fa fa-heart-o"></i> UT Sports</p>
      <p class="interests"><i class="fa fa-heart-o"></i> Live Music</p>
      <p class="interests"><i class="fa fa-heart-o"></i> Travel</p>
      <p class="interests"><i class="fa fa-heart-o"></i> Poker</p>  
      <p class="interests"><i class="fa fa-heart-o"></i> Real Estate</p>
      <p class="interests"><i class="fa fa-heart-o"></i> Design</p>      
    </div><!-- /.container -->
<!-- END INTERESTS --> 
</div>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/all.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>

  </body>
</html>